{% extends 'base.html.twig' %}


{% block title %}{{title|default()|trans }}{% endblock %}


{% block content_body %}
{% import _self as _this %}
{% macro spaces_template(form) %}
    <li>
        <div class="row">
            
            <div class="col-9">
                {{ form_row(form.placeNumber, {attr: {placeholder: 'Place number'}}) }}
                {{ form_errors(form.placeNumber) }}
            </div>
            <script type="text/javascript">
            inputMask('#'+'{{form.placeNumber.vars.id}}');
            </script>
        </div>
        <div class="row">
            
            <div class="col-9">
                {{ form_row(form.status, {attr: {placeholder: 'space status'}}) }}
                {{ form_errors(form.status) }}
            </div>
            <script type="text/javascript">
            inputMask('#'+'{{form.status.vars.id}}');
            </script>
        </div>
        <div class="row">
            
            <div class="col-9">
                {{ form_row(form.typeOfMotorVehicle) }}
                {{ form_errors(form.typeOfMotorVehicle) }}
            </div>
            <script type="text/javascript">
            inputMask('#'+'{{form.typeOfMotorVehicle.vars.id}}');
            </script>
        </div>
        <div class="row">
            
            <div class="col-9">
                {{ form_row(form.priceOfHour, {attr: {placeholder: 'price of hour'}}) }}
                {{ form_errors(form.priceOfHour) }}
            </div>
            <script type="text/javascript">
            inputMask('#'+'{{form.priceOfHour.vars.id}}');
            </script>
        </div>
        <button type="button" class="btn btn-delete btn-elevate">x</button>
    </li>
{% endmacro %}

<div class="row">
    <div class="col-md-12">
        <div class="k-portlet">
            <div class="k-portlet__head">
                <div class="k-portlet__head-label">
                    <h3 class="k-portlet__head-label">{{'%action_name% >'|trans(action_name is defined ?{'%action_name%':action_name}) }}
                        {{ '%parking_name%'|trans(parking_name is defined ?{'%parking_name%':parking_name}:'')}} </h3> 
                </div>
            </div>
            {{ form_start(form,{attr: {novalidate:'novalidate'}})}}

            <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active " data-toggle="tab" href="#tabs_basic" role="tab"><i class="la la-list"></i> {{ "Addres info"|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabs_contacts" role="tab"><i class="la la-spaces"></i> {{ "Spaces"|trans }}</a>
                </li>
            </ul>
            <div class="tab-content">
            
                {#BASIC INFO#}
                <div class="tab-pane active " id="tabs_basic" role="tabpanel">
                    <div class="person">
                        {{ form_row(form.name) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.workTime) }}
                        {{ form_row(form.latitude) }}
                        {{ form_row(form.longitude) }}
                        {{ form_row(form.workTime) }}
                        
                        {% if owner == true %}
                        {{ form_row(form.owner) }}
                        {% endif %}
                    </div>
               </div>
                
                {#PLACES#}
                <div class="tab-pane" id="tabs_contacts" role="tabpanel">
                    <div class="form-group row">
                        {{ form_label(form.spaces, null, {'label_attr': {'class': 'col-form-label col-lg-3 col-sm-12'}}) }}
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <ul class="dynamic spaces" data-index="{{form.spaces.vars.data|length}}" data-prototype="{{ _this.spaces_template(form.spaces.vars.prototype)|e('html_attr') }}">
                                {% for i in form.spaces %}
                                    {{ _this.spaces_template(i) }}
                                {% endfor %}
                                <li><button type="button" class="btn btn-secondary btn-elevate add">{{ "add spaces"|trans }}</button></li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
            
            {{ form_row(form._token) }}
            {{ form_row(form.save) }}
            {{ form_end(form) }}
</div>


{% endblock content_body %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@FBaseBundle/Resources/public/css/dynamic_forms.css' filter='css_url_rewrite,?uglifycss' %}<link rel="stylesheet" href="{{ asset_url }}?r={{ver}}" />{% endstylesheets %}
{% endblock %}


{% block header_javascripts %}
    {{ parent() }}
    {% javascripts '@FBaseBundle/Resources/public/js/input-mask.js' filter='?uglifyjs2' %}<script src="{{ asset_url }}?r={{ver}}"></script>{% endjavascripts %}
{% endblock %}
{% block javascripts %}

    {% javascripts '@FBaseBundle/Resources/public/js/dynamic_forms.js' filter='?uglifyjs2' %}<script src="{{ asset_url }}?r={{ver}}"></script>{% endjavascripts %}

    </script>

{% endblock %}
