{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/*.css') }}" rel="stylesheet" />
{% endblock %}


{% block title %}{{'Users | Parking'|trans }}{% endblock %}

{% block content_body %}
<div class="k-content__body    k-grid__item k-grid__item--fluid" id="k_content_body">
    <div class="k-portlet k-portlet--mobile">
        <div class="k-portlet__head">
            <div class="k-portlet__head-label">
                <h3 class="k-portlet__head-title">
                     {{'label.userlist'|trans }}
                </h3> &nbsp;
            </div>
            <div class="k-portlet__head-label">

            </div>
        </div>
	    {{ render(controller('UsersBundle\\Controller\\UserController::listAction')) }}    
    </div>
</div>

{% endblock content_body %}
{# {% block content_breadcrumb %}
  <a href="{{ path('homepage')}}" class="k-content__head-breadcrumb-link">{{'Home page'|trans }}</a>
    <span class="k-content__head-breadcrumb-separator"></span>
    <span class="k-content__head-breadcrumb-link k-content__head-breadcrumb-link--active">{{'User list'|trans }}</span> 
{% endblock content_breadcrumb %} #}

{% block javascripts %}
    {{ parent() }}
{% endblock %}